.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

    .children {
        display: flex;
        gap: 20px;

        &.row {
            flex-direction: row;
        }

        &.col {
            flex-direction: column;
        }
    }
}