.container {
    display: flex;
    flex-direction: column;
    gap: var(--offset-large);
    box-shadow: var(--box-shadow-none);

    .title {
        font-size: 24px;
        display: flex;
        align-items: start;
        color: var(--text-color-main);
        gap: var(--offset-small);

        .amount {
            font-size: 14px;
            color: var(--text-color-invisible);
        }
    }

    .cart {
        display: flex;
        gap: var(--offset-medium);

        .list {
            display: flex;
            flex-direction: column;
            gap: var(--offset-medium);
            width: 100%;
            max-width: calc(100% - 400px);
            min-width: 400px;
        }

        .info {
            display: flex;
            flex-direction: column;
            gap: var(--offset-medium);
            width: 400px;
            min-width: 300px;

            .button {
                height: 60px;
                border-radius: var(--offset-large);
            }

            .box {
                display: flex;
                flex-direction: column;
                background: var(--background-second);
                gap: var(--offset-large);
            }
        }
    }

    &.loading {
        .list,
        .box {
            animation: var(--loading-animation-simple);
            pointer-events: none;
        }
    }
}