.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: var(--offset-medium);
    padding: var(--offset-extra-large);

    background-position: center;
    background-size: cover;

    box-shadow: var(--box-shadow-none);
    cursor: pointer;
    transition: var(--transition-medium);

    &:hover {
        transform: scale(1.01);
    }

    .item {
        width: auto;
        padding: var(--offset-medium);
        display: inline-flex;
        background: var(--background-second);
    }
}