.container {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    .box {
        display: flex;
        gap: var(--offset-small);
        background: var(--background-second);
        padding: var(--offset-small) var(--offset-medium) var(--offset-small) var(--offset-small);
        align-items: center;

        .avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        .info {
            display: flex;
            flex-direction: column;
            gap: var(--offset-small);

            .title {
                font-size: 14px;
                color: var(--text-color-main);
            }

            .description {
                font-size: 12px;
                color: var(--text-color-second);
            }
        }
    }
}