.container {
    color: transparent !important;
    user-select: none !important;
    border-radius: var(--offset-small) !important;
    background: var(--gradient);
    background-size: var(--gradient-size) !important;
    animation: var(--gradient-animation) !important;
}