.container {
    position: relative;
    background: var(--background-second);
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: end;
    transition: var(--transition-slow);

    &.small {
        height: 100px;
    }

    .footer {

    }
}