.container {
    height: 40px;
    padding: var(--offset-medium);
    background: var(--background-second);
    border: 1px solid var(--border-gray);
    outline: none;
    transition: var(--transition-fast);
    border-radius: var(--offset-medium);
    font-size: 14px;

    &:active,
    &:focus,
    &:not(:placeholder-shown) {
        border: 1px solid var(--button-primary-background);
    }

    &.block {
        display: flex;
        width: 100%;
    }

    &.loading {
        animation: var(--loading-animtion);
        pointer-events: none;
    }
}