$padding: var(--offset-medium);

.container {
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: $padding;
    padding: $padding;
    box-shadow: var(--box-shadow-small);
    border: 1px solid var(--background-item);
    background: var(--background-item);
    color: var(--text-color-main);
    transition: var(--transition-fast);

    &.primary {
        border: 1px solid var(--button-primary-background);
        background: var(--button-primary-background);
        color: var(--button-primary-color);

        &:hover {
            border: 1px solid var(--button-primary-background-hover);
            background: var(--button-primary-background-hover);
        }
    }

    &.second {
        border: 1px solid var(--border-gray);
        background: var(--background-second);
        color: var(--text-color-second);

        &:hover {
            color: var(--text-color-main);
        }
    }

    &.main {
        border: 1px solid var(--button-primary-background);
        background: var(--background-second);
        color: var(--button-primary-background);

        &:hover {
            border: 1px solid var(--button-primary-background-hover);
            color: var(--button-primary-background-hover);
        }
    }

    &.danger {
        border: 1px solid var(--button-danger-background);
        background: var(--button-danger-background);
        color: var(--button-danger-color);

        &:hover {
            border: 1px solid var(--button-danger-background-hover);
        }
    }

    &.square {
        min-width: 40px;
        max-width: 40px;
    }

    &.block {
        display: flex;
        width: 100%;
    }

    &.skeleton {
        border: 1px solid var(--gradient);
        background: var(--gradient);
        animation: var(--gradient-animation);
        background-size: var(--gradient-size);
        color: transparent;

        &:hover {
            color: transparent;
            transform: scale(1);
            cursor: default;
            box-shadow: var(--box-shadow-none);
        }
    }

    &.loading {
        animation: var(--loading-animtion);

        &:hover {
            transform: scale(1);
            cursor: default;
            box-shadow: var(--box-shadow-none);
        }
    }

    &:hover {
        cursor: pointer;
        transform: scale(1.01);
        box-shadow: var(--box-shadow);
    }

    &:active {
        transform: scale(1);
        box-shadow: var(--box-shadow-none);
    }
}