.container {
    padding: var(--offset-medium) var(--offset-large) !important;
    background: var(--background-second) !important;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}