.container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: start;
    gap: var(--offset-medium);
    padding: var(--offset-small) var(--offset-medium);
    border: 1px solid var(--border-gray);
    border-radius: var(--offset-medium);

    .icon {
        width: 20px;
        height: 20px;
        color: var(--text-color-second);
        transition: var(--transition-slow);

        svg {
            width: 20px;
            height: 20px;
        }
    }

    .label {
        color: var(--text-color-second);
        font-size: 14px;
        transition: var(--transition-fast);
    }

    &:hover {
        cursor: pointer;

        .label,
        .icon {
            color: var(--text-color-main);
        }
    }
}