.container {
    display        : flex;
    flex-direction : column;
    gap            : var(--offset-medium);
    background     : var(--background-second);

    .top {
        display         : flex;
        justify-content : space-between;
        gap             : var(--offset-medium);
        align-items     : start;

        .user {
            display     : flex;
            gap         : var(--offset-medium);
            align-items : center;

            .icon {
                border-radius       : 50%;
                width               : 44px;
                height              : 44px;
                background          : var(--background-item);
                background-position : center;
                background-size     : contain;
            }

            .info {
                display        : flex;
                flex-direction : column;
                gap            : var(--offset-small);

                .name {
                    font-weight : bold;
                    font-size   : 16px;
                }

                .rating {

                }
            }
        }

        .date {
            font-size : 14px;
            color     : var(--text-color-second);
        }
    }

    .review {
        display        : flex;
        flex-direction : column;
        gap            : var(--offset-small);

        .title {
            font-weight : bold;
            font-size   : 16px;
        }

        .body {
            font-size : 14px;
        }
    }
}