$padding: var(--offset-small);

.container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    padding: $padding;
    border-radius: $padding;
    box-shadow: var(--box-shadow);
}