.container {
    display: flex;
    flex-direction: column;
    gap: var(--offset-large);

    .title {
        font-size: 18px;
        font-weight: bold;
        color: var(--text-color-main);
    }

    .content {

    }
}