.container {
    font-size: 30px;
    font-family: Agbalumo, 'serif';
    color: var(--text-color-main);
    text-decoration: none;

    span {
        font-size: 12px;
        color: var(--text-color-second);
    }
}